<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
<servlet>
    <servlet-name>AcceuilUtilisateur</servlet-name>
    <servlet-class>bean.AcceuilUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceuilUtilisateur</servlet-name>
    <url-pattern>/AcceuilUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InterfaceAdmin</display-name>
    <servlet-name>InterfaceAdmin</servlet-name>
    <servlet-class>bean.InterfaceAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterfaceAdmin</servlet-name>
    <url-pattern>/InterfaceAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompteUtilisateur</display-name>
    <servlet-name>CompteUtilisateur</servlet-name>
    <servlet-class>bean.CompteUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompteUtilisateur</servlet-name>
    <url-pattern>/CompteUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompteAdmin</display-name>
    <servlet-name>CompteAdmin</servlet-name>
    <servlet-class>bean.CompteAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompteAdmin</servlet-name>
    <url-pattern>/CompteAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>bean.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErreurLogin</display-name>
    <servlet-name>ErreurLogin</servlet-name>
    <servlet-class>bean.ErreurLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErreurLogin</servlet-name>
    <url-pattern>/ErreurLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PosterAstuce</display-name>
    <servlet-name>PosterAstuce</servlet-name>
    <servlet-class>bean.PosterAstuce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PosterAstuce</servlet-name>
    <url-pattern>/PosterAstuce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoirAstuceUtilisateur</display-name>
    <servlet-name>VoirAstuceUtilisateur</servlet-name>
    <servlet-class>bean.VoirAstuceUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoirAstuceUtilisateur</servlet-name>
    <url-pattern>/VoirAstuceUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoirAstuceAdmin</display-name>
    <servlet-name>VoirAstuceAdmin</servlet-name>
    <servlet-class>bean.VoirAstuceAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoirAstuceAdmin</servlet-name>
    <url-pattern>/VoirAstuceAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BannirMembre</display-name>
    <servlet-name>BannirMembre</servlet-name>
    <servlet-class>bean.BannirMembre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BannirMembre</servlet-name>
    <url-pattern>/BannirMembre</url-pattern>
  </servlet-mapping>
  
   <servlet>
 <servlet-name>springrest</servlet-name>
 <servlet-class>
  org.springframework.web.servlet.DispatcherServlet
 </servlet-class>
 <load-on-startup>1</load-on-startup>
</servlet>


<welcome-file-list>
        
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

<servlet-mapping>
 <servlet-name>springrest</servlet-name>
 <url-pattern>/</url-pattern>
</servlet-mapping>

</web-app>